<h2>Manage Booking</h2>

<table class="table">
  <thead> 
    <tr>
      <th scope="col">Booking ID</th>
      <th scope="col">Item</th>
      <th scope="col">Daily Fee</th>
      <th scope="col">Hire Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Total Fee </th>
    </tr>
  </thead>
 <tbody>
    <tr>    
      <td><%= @booking.id %> </td>
      <td><%= link_to Item.find(@booking.item_id).title, Item.find(@booking.item_id) %> </td>
      <td>$<%= Item.find(@booking.item_id).price %>0</td>
      <td><%= @booking.start_date %> </td>
      <td><%= @booking.end_date %> </td>
      <td>$<%= (Item.find(@booking.item_id).price)  %>0</td> 
    </tr>
  </tbody>
</table>

<%= form_for :booking  do |f| %>
  <fieldset class="mb-2">
    <%= f.label :start_date %>:
    <%= f.date_field :start_date %>
  </fieldset>
  <fieldset class="mb-2">
    <%= f.label :end_date %>:
    <%= f.date_field :end_date %>
  </fieldset>
   <fieldset>
    <%= f.submit class: 'btn btn-primary' %>
  </fieldset>
<% end %>

<%= button_to('Cancel booking', @booking, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to cancel your booking?" } }) %>
